.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--main-color);
}

@media only screen and (min-width: 700px) {
  .App {
    height: 600px;
    width: 700px;
    margin: 2% auto;
    border-left: 4px solid var(--button-color);
    border-right: 4px solid var(--button-color);
    border-bottom: 4px solid var(--button-color);
  }
}
