* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, Lato, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: rgba(255, 255, 255, 0.856);
  --secondary-color: rgba(32, 39, 134, 0.479);
  --button-color: rgba(116, 120, 180, 0.829);
}

@media only screen and (min-width: 700px) {
  body {
    background-color: rgb(102, 109, 102);
  }
}
