.InputContainer {
  height: 10%;
  background-color: grey;
  display: flex;
  align-items: center;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 70%;
}

.Submit {
  height: 70%;
  width: 15%;
  margin-left: 3%;
}
