.Header {
  background-color: rgb(59, 50, 50);
  display: flex;
  justify-content: space-around;
  color: white;
  height: 10%;
  align-items: center;
  padding: 0 2%;
}

.NewRoomButton,
.Header button {
  color: white;
  background-color: var(--secondary-color);
  border: none;
  height: 40%;
  border-radius: 20%;
  outline: none;
  height: 50%;
  cursor: pointer;
  width: 20%;
}

.Header button:hover {
  background-color: var(--main-color);
}
.Header button:active {
  background-color: var(--secondary-color);
}
.Header button:focus {
  background-color: var(--secondary-color);
}

.Header h3 {
  height: 40%;
}

@media only screen and (min-width: 700px) {
  .Header {
    justify-content: space-between;
  }
  .Header h3 {
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Header button {
    height: 100%;
    width: 20%;
    border-radius: 0%;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .ParticipantButton {
    visibility: hidden;
  }
}
